 @{
     ViewData["Title"] = "Display Data";
     string[] TableHeaders = new string[] { "ID"
         ,"Name"
         ,"Director"
         ,"YearOfRelease"};
}
<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.ID</td>
                            <td>@Data.Name</td>
                            <td>@Data.Director</td>
                            <td>@Data.YearOfRelease</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>