@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magnus V. Norling</h1>
    <p class="lead">Elev på TEC. Er igang med at blive Datatekiniker med Speciale i Programmering</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>C#</h2>
        <p>
            Jeg kan lave...
        </p>
    </div>
    <div class="col-md-4">
        <h2>HTML og CSS</h2>
        <p>
            Jeg kan lave...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Javascript</h2>
        <p>
            Jeg kan lave...
        </p>
    </div>
</div>