@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!-- Det her er min kontackt side med min mail -->
<address>
    <strong>Mail</strong>   <a href="mailto:magnus.norling@hotmail.dk">magnus.norling@hotmail.dk</a><br />
</address>